.title
          {
            
            font-family:'Playfair Display', serif;
            font-weight:bold;
            
            
            word-wrap:break-word;
            

          }
.type
          {
            margin-top:0px;
            position:relative;
            font-family:'Source Sans Pro', sans-serif;
            
            color:#808080;
            left:1px;
            font-weight:bold;

          }
    
    .readingTime
          {
            position:relative;
            font-family:'Source Sans Pro', sans-serif;
            
            font-weight:bold;
            color:#808080;
            left:1px;
          }
    .author
        {
          border:solid 0px;
          border-right-width:3px;
          color:#922228;
        }
    .date 
          {
            position:relative;
            font-family:'Source Sans Pro', sans-serif;
            font-weight:bold;
           color:#808080;
            
            left:1px;
          }
    .articleContent
          { 
            width:95%;
            
          }
    .content
          {
            margin-top:0px;
          }

    .subTitle
          {
            
            font-size:2rem;
            font-family:'Source Sans Pro', sans-serif;
            color:#444443;
            margin-top:15px;
            border:solid 0px;
            border-color:#444443;
            border-bottom-width:4px;
            padding-top:10px;
            padding-bottom:10px;
          }
    .mainText
          {
            font-size:21px;
            
            
            font-family:'Source Sans Pro', sans-serif;
            

          }
    .contentImage
          {          
            
            
          }
    .highlight
          {
            position:relative;
            width:98%;
            
            border: solid 3px;
            border-left-width: 3px;
            border-right-width: 3px;
            border-top-width: 0px;
            border-bottom-width:0px;
            border-color:#44893C;
            margin:0 auto;
            text-align:center;
            font-family:'Source Sans Pro';
            font-weight:bold;
            font-size:25px;
            color:#44893C;
          }
    .firstLetter
          {
            font-family:'Source Sans Pro', sans-serif;
            font-size:2.5rem;
            line-height:0.9em;
          }
    .textSubtitle
          {
            font-family:georgia;
            font-size:23px;
            
            text-decoration:underline;
          }

    .sideDiv
          {
            
            
            
          }
    .designDiv
          {
            width:100px;
            height:6px;
            background:#444443;
            margin-left:5%;
          }
    .sideDivTitle
          {
            
            
            top:10px;
            font-family:categoryFont;
            font-size:25px;
            word-wrap:break-word;
            color:#63666a;
            margin-left:5%;
            
          }


.navbar {
        min-height: 70px;
      }

.navbar-brand {
  padding: 0 5px;
  height: 70px;
  line-height: 70px;
  font-size:2.4rem !important;
  font-family:'Abril Fatface', cursive;
  
  }
.nav-link
{
  font-family:'Abril Fatface', cursive;

  
}
.nav-item
{

}

.navbar-toggler {
  /* (80px - button height 34px) / 2 = 23px */
  border:none !important;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
.imageDescription
{
  color:grey;
  font-size:1rem;
}

@media (min-width: 1200px) {

  .navbar-brand 
          {
            font-size: 2.4rem !important;
          }
        .nav-link
          {
            font-size:25px;
            
          }
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    
    padding: 21.5px 15px 21.5px 21.5px !important;
    line-height: 27px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
      @media screen and (max-width: 1200px) 
      {
        .navbar
          {
            min-height:40px;
          }
          .title
          {
            font-size:30px;
          }
          .type
          {
            font-size:18px;
          }
          .readingTime
          {
            font-size:1rem;
          }
          .date
          {
            font-size:1rem;
          }
        .navbar-brand 
          {
            height:45px !important;
            line-height:45px !important;
            font-size: 1.57rem !important;
          }
        .nav-link
          {
           font-size:1.4rem;
           border:0px !important;

          }
        .mainText
          {
            font-size:1.2rem;
          }
        .subTitle
          {
            font-size:1.5rem;
          }
        .textSubtitle
          {
            font-size:20px;
          }
          .imageDescription
          {
            font-size:0.8rem;
          }
        .navbar-toggler {
  /* (80px - button height 34px) / 2 = 23px */
              
          }
      }
      blockquote {
border: 0px solid;
border-left: 10px solid #922228;


margin: 10px;
padding: 10px 20px;

}

blockquote p {
margin: 0;
line-height: 30px;
font-weight:bold;
color:#922228;
}

blockquote .small {
display: block;
font-size: 80%;
color: brown;
text-align: right;
}
.fa-facebook {


}

.fa-twitter {
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.chosen
{
  color:#922228 !important;
}
.chosen:hover
{
  color:#922228 !important;
}
.icons
{
  margin-left:1px;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }